version: '2'

services:

  gateway-config:
    image: nebraltd/hm-config:132a402
    depends_on:
      - dbus-session
      - diagnostics
    environment:
      - FIRMWARE_VERSION=2022.12.13.0-21
      - FIRMWARE_SHORT_HASH=aa84162
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/session/dbus/session_bus_socket
    privileged: true
    network_mode: host
    cap_add:
      - NET_ADMIN
    volumes:
      - miner-storage:/var/data
      - dbus:/session/dbus
    labels:
      io.balena.features.sysfs: 1
      io.balena.features.kernel-modules: 1
      io.balena.features.dbus: 1
    stop_signal: SIGINT

  packet-forwarder:
    image: nebraltd/hm-pktfwd:cd6b24e
    depends_on:
      - multiplexer
    restart: always
    privileged: true
    volumes:
      - pktfwdr:/var/pktfwd
    environment:
      - FIRMWARE_VERSION=2022.12.13.0-21
      - FIRMWARE_SHORT_HASH=aa84162
    labels:
      io.balena.features.sysfs: 1
      io.balena.features.procfs: 1

  multiplexer:
    image: nebraltd/hm-pktmux:f4ccb3f
    restart: always
    depends_on:
      - helium-miner
    expose:
      - "1700"
    labels:
      io.balena.features.sysfs: 1
      io.balena.features.procfs: 1

  helium-miner:
    image: nebraltd/hm-miner:arm64-d936613
    depends_on:
      - dbus-session
      - diagnostics
    expose:
      - "1680"
      - "4467"
    ports:
      - "44158:44158/tcp"
    volumes:
      - miner-storage:/var/data
      - miner-log:/var/log/miner
      - pktfwdr:/var/pktfwd
      - dbus:/session/dbus
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/i2c-7:/dev/i2c-7
    restart: on-failure
    environment:
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/session/dbus/session_bus_socket
      - FIRMWARE_VERSION=2022.12.13.0-21
      - FIRMWARE_SHORT_HASH=aa84162

  diagnostics:
    image: nebraltd/hm-diag:0565196
    depends_on:
      - dbus-session
    environment:
      - FIRMWARE_VERSION=2022.12.13.0-21
      - FIRMWARE_SHORT_HASH=aa84162
      - DIAGNOSTICS_VERSION=0565196
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket
    volumes:
      - pktfwdr:/var/pktfwd
      - miner-storage:/var/data
      - watchdog-log:/var/watchdog
      - nebra:/var/nebra
    ports:
      - "80:5000"
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/i2c-7:/dev/i2c-7
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
      - /dev/ttyUSB2:/dev/ttyUSB2
      - /dev/ttyUSB3:/dev/ttyUSB3
    privileged: true
    labels:
      io.balena.features.sysfs: 1
      io.balena.features.procfs: 1
      io.balena.features.dbus: 1
      io.balena.features.supervisor-api: '1'

  dbus-session:
    image: balenablocks/dbus:rpi-0.0.2
    restart: always
    volumes:
      - dbus:/session/dbus
    environment:
      - DBUS_ADDRESS=unix:path=/session/dbus/session_bus_socket
      - FIRMWARE_VERSION=2022.12.13.0-21
      - FIRMWARE_SHORT_HASH=aa84162

volumes:
  miner-storage:
  miner-log:
  watchdog-log:
  pktfwdr:
  dbus:
  nebra: