%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/data/log"}
    ]},
  {blockchain,
    [
      {key, {ecc, [{key_slot, 0}, {onboarding_key_slot, 15}]}} %% don't make this the last line in the stanza because sed and keep it on one line
    ]},
  {miner,
    [
      {use_ebus, false},
      {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} }
    ]}
].
