name: Python Unit Tests
on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Run PyTest
      run: |
        pip install -r test-requirements.txt
        pip install -r requirements.txt
        export PYTHONPATH=`pwd`
        pytest . --cov=. --cov-fail-under=90
